<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>chargement de l'image</title>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
}

html, body {
	//height: 100%;
	width :100%;
	font-size :x-large;
	//font :'20pt Calibri';

}
div {
    //font-size :x-large;
    margin-left : 5%;
    margin-right : 5%;
}
form {
    //font-size : x-large;
}
input {
    //font-size :x-large;
    font-size:120%;//essai
}
</style>
    {% load static %}
    {% include "pavage/icone.html" %}
</head>
<br>
<div font-size="x-large">
    <h3> Marche à suivre : </h3>
<br>
<p>
Vous choisissez une photo sur votre ordinateur ou votre mobile
(ou alors vous prenez une photo avec celui-ci). Une fois cette photo chargée
    (attention cela peut parfois prendre un peu plus de 30 secondes)
vous voyez celle-ci apparaître dans un cadre.
</p>
<br>
<p>
Il faut découper ("rogner") dans votre image un carré (ou plutôt un rectangle à peu près carré).
Pour cela on clique (ou simplement on touche l'écran) sur un point de l'image
qui sera un des coins du carré et en maintenant appuyé
on se déplace jusqu'au coin opposé. On relâche, puis on peut ensuite déplacer et ajuster le carré.
</p>
<br>
<p>
Ensuite il ne reste qu'à valider pour voir le pavage hyperbolique basé sur le carré découpé.
</p>
<br>
</div>

<div font-size="x-large">
<form method="post" enctype="multipart/form-data" />
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Envoyer" />
</form><br>
</div>

</body>