    {% load static %}

    <link rel="shortcut icon" href="{% static "pavage/favicon/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "pavage/favicon/favicon.ico" %}" type="image/png">
    <link rel="icon" sizes="32x32" href="{% static "pavage/favicon/favicon-32.png" %}" type="image/png">
    <link rel="icon" sizes="64x64" href="{% static "pavage/favicon/favicon-64.png" %}" type="image/png">
    <link rel="icon" sizes="96x96" href="{% static "pavage/favicon/favicon-96.png" %}" type="image/png">

    <link rel="icon" sizes="196x196" href="{% static "pavage/favicon/favicon-196.png" %}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "pavage/favicon/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "pavage/favicon/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "pavage/favicon/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "pavage/favicon/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "pavage/favicon/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "pavage/favicon/apple-touch-icon-144x144.png" %}">
    <meta name="msapplication-TileImage" content="{% static "pavage/favicon/favicon-144.png" %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">

<!--    <link rel="icon" href="{% static "pavage/favicon/animated_favicon.gif" %}" type="image/gif">-->