    {% load static %}

    <link rel="shortcut icon" href="{% static "pavage/favicon/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "pavage/favicon/favicon.ico" %}" type="image/png">
    <link rel="icon" sizes="32x32" href="{% static "pavage/favicon/favicon-32.png" %}" type="image/png">
    <link rel="icon" sizes="64x64" href="{% static "pavage/favicon/favicon-64.png" %}" type="image/png">
    <link rel="icon" sizes="96x96" href="{% static "pavage/favicon/favicon-96.png" %}" type="image/png">